.usermodal {
    max-width: 30rem;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  width: auto;
  }

.userscontainer{
    display: grid;
    grid-template-columns: 8rem 11rem 7rem auto;
    grid-template-rows: auto auto auto auto auto;

}

.userlistlabel{
    grid-column-start: 1;
    grid-row-start: 1;
    font-weight: bold;
}

.userslistbox{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 6;
}