.App {
  text-align: center;
}

.maingridcontainer{
  display: grid;
  grid-template-columns: 320px 320px;
  justify-content: center;
}

.maincol1{
  background-color: darkgray;
  margin-right: 10px;
  border-radius: 5px;
}
.maincol2{
  background-color: darkgray;
  margin-right: 10px;
  border-radius: 5px;
}

.appheader{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;

 text-align: center;
 margin-bottom: 5px;
}

.appicon {
  height:48px;
  width: 48px;
  vertical-align: middle;
  padding-right: 10px;;
}