.App {
  text-align: center;
}

.maingridcontainer {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto;
  justify-content: center;
  background-color: steelblue;
}

.maincol1 {
  /* background-color: #747c8e; */
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 5px;
}
.maincol2 {
  /* background-color: #747c8e; */
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.appheader {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 60px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: white;
  /* margin-bottom: 5px; */
  background-color: steelblue;
  overflow: hidden;
  padding: 5px;

  
  /* justify-content: center; */
}

.appicon {
  height: 64px;
  width: 64px;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
}

.headericon {
  height: 28px;
  width: 28px;
  vertical-align: middle;
}

.headericonbtn {
  height: 36px;
  width: 36px;
  background-color: transparent;
  border-style: none;
  border-radius: 5px;
  opacity: 100%;
  vertical-align: middle;
  margin-left: 10px;
}

.headericonbtn:hover {
  opacity: 70%;
  cursor: pointer;
}

.headericonbtn:active {
  background-color: grey;
  opacity: 50%;
}

.header-desc {
  padding-left: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  font-size: 20px;
}

.header-center {
  /* float: center; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  overflow: hidden;
}

.header-right {
  /* float: right; */
  padding-right: 5px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  
}
