.phcalcontainer{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  
    margin-top: 10px;
    display: grid;
    justify-content: center;
  }

.phrefcontainer{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    display: grid;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.phref4{
    background-color: pink;
}

.phref7{
    background-color: lightyellow;
}
.phref10{
    background-color: skyblue;
}


  .phtargetlabel{
    margin-top:5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    color: black;
    font-weight: bold;
    border-color: #85868c;
  }

  .phcalbutton{
    margin-top:5px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    height: 30px;
    color: black;
    font-weight: bold;
    border-color: #85868c;
  }
  
  .phcalbutton:hover{
  background-color: orange;
  }
  
  .phcalbutton:active{
  background-color:  grey;
  }

  .phRefval{
    font-size: 30px;
    font-weight: bold;
  }