.outletcontainer {
  grid-template-columns: 20px 280px;
  grid-template-rows: 60px;
  display: grid;
  justify-content: center;
  /* margin: 4px; */
  background-color: lightgray;
  border-style: none;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  padding-top: 0px;
  padding-right: 4px;
}

.outletitem {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 10px;
}

.outletname {
  grid-column-start: 1;
  grid-column-end: span 2;

  height: 56px;
  line-height: 24px;
  font-size: 14px;
  text-align: left;
  align-self: center;
  grid-row-start: 1;
  border-style: none;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  background-color: lightgray;
}

.multitoggle {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;

  height: 60px;
  line-height: 16px;
  font-size: 16px;
  text-align: left;
  align-self: center;
  background-color: transparent;
}

.outletseticon {
  grid-column-start: 1;
  grid-row-start: 1;
  align-items: center;
  display: flex;
  height: 76px;
  align-content: normal;
}

.outletsetbtn {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-style: none;
  border-radius: 5px;
  opacity: 30%;
  padding-left: 0px;
  padding-right: 0px;
}

.outletsetbtn:hover {
  opacity: 100%;
  cursor: pointer;
}

.outletsetbtn:active {
  background-color: grey;
}

.controltype {
  display: block;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  padding: 6px 12px;
  position: relative;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  border-radius: 5px 5px 0 0;
  color: #000;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  background: #fff;
  bottom: -5px;
  content: "";
  height: 5px;
  left: -4px;
  position: absolute;
  right: -4px;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

body {
  /* color: #333; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

a {
  color: #007eff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  padding: 0 30px;
}

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
}

.page-body,
.page-footer,
.page-header {
  padding: 30px 0;
}

.page-header {
  background-color: #3c72a9;
  color: #d3e9ff;
  text-align: center;
}

.page-header__title {
  color: #fff;
  font-size: 3em;
  margin-bottom: 0.33em;
}

.page-header__subtitle {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 1em;
}

.page-header__link {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  color: #fff;
  text-decoration: none;
}

.page-header__link:focus,
.page-header__link:hover {
  border-bottom-color: #fff;
  outline: none;
  text-decoration: none;
}

.page-header__button {
  background-color: hsla(0, 0%, 100%, 0.08);
  border-color: hsla(0, 0%, 100%, 0.2) !important;
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 1px;
  color: hsla(0, 0%, 100%, 0.9);
  display: inline-block;
  margin-bottom: 2rem;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.page-header__button:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  border-color: hsla(0, 0%, 100%, 0.3);
  color: #fff;
  text-decoration: none;
}

.page-subheader {
  background-color: #e6f2ff;
  line-height: 20px;
  padding: 30px 0;
}

.page-subheader__button {
  float: right;
}

.page-subheader__link {
  border-bottom: 1px solid rgba(0, 126, 255, 0.3);
  outline: none;
  text-decoration: none;
}

.page-subheader__link:focus,
.page-subheader__link:hover {
  border-bottom-color: #007eff;
  outline: none;
  text-decoration: none;
}

.page-footer {
  background-color: #fafafa;
  color: #999;
  padding: 30px 0;
  text-align: center;
}

.page-footer a {
  color: #000;
}

.page-footer img.browserstack {
  height: 50px;
  margin-bottom: 15px;
}

.section {
  margin-bottom: 40px;
}

.section .source-checkbox-label {
  border: none;
  color: #007eff;
  cursor: pointer;
  font-size: 0.7em;
  text-decoration: none;
}

.section .react-live-preview {
  padding: 2em;
}

.section .live-preview {
  box-shadow: 0.055rem 0.055rem 1.11rem hsla(0, 0%, 8%, 0.27);
}

.section .live-preview .live-editor {
  background-color: #282a36;
  font-family: Source Code Pro, monospace;
  font-size: 0.875rem;
  height: 0;
  max-width: 850px;
  overflow-y: scroll;
  transition: height 0.2s;
}

.section .live-preview .live-editor--visible {
  height: 300px;
}

.hint {
  color: #666;
  font-size: 0.95em;
  margin: 15px 0;
}

.outlet-tab-list {
  margin: 0;
  padding: 0;
}

.outlet-tab {
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin-right: 2px;
  padding: 6px 12px 0;
  position: relative;
}

.outlet-tab--selected {
  background: #fff;
  box-shadow: 2px -1px 2px 0 rgba(0, 0, 0, 0.5);
  color: #000;
  z-index: 3;
}

.outlet-tab-panel {
  display: none;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.outlet-tab-panel--selected {
  display: block;
}

@media (max-width: 767px) {
  .page-header__button {
    display: block;
    font-size: 0.9rem;
    padding: 0.75rem;
  }

  .section .live-preview .live-editor {
    max-width: calc(100vw - 60px);
  }
}

@media (min-width: 768px) {
  .page-header__button {
    padding: 0.75rem 1rem;
  }

  .page-body,
  .page-header {
    padding: 3em 0 1.5em;
  }

  .page-header {
    font-size: 1.4em;
  }
}

.submit_row {
  margin-top: 20px;
}

.feedgridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  justify-content: center;
  border: black;
  border-style: none;
  border-width: 1px;
  align-items: end;
}

.feedtimerlabel {
  margin-top: 10px;
  margin-right: 10px;

  border-bottom: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.feedmoderow {
  margin-top: 5px;
  border: black;
  border-style: none;
  border-width: 1px;
}
.feedrowA {
  grid-row-start: 2;
  grid-row-end: 3;
}

.feedrowB {
  grid-row-start: 3;
  grid-row-end: 4;
}

.feedrowC {
  grid-row-start: 4;
  grid-row-end: 5;
}

.feedrowD {
  grid-row-start: 5;
  grid-row-end: 6;
}

.feedcol1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.feedcol2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.feedcol3 {
  grid-column-start: 3;
  grid-column-end: 4;
}



.outletmodal {
  max-width: 20rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  width: 300px;
}
