.outletStatus  {
    color: black;
    text-align: right;
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.outletStatusOn  {
    color: green;
    text-align: right;
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.outletStatusOff  {
    color: red;
    text-align: right;
    margin-right: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.dashLayout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.dashRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}