.tempmodal {
    max-width: 30rem;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  width: auto;
  }

.probescontainer{
    display: grid;
    grid-template-columns: 8rem 11rem 7rem auto;
    grid-template-rows: auto auto auto auto auto;

}

.detectedlabel{
    grid-column-start: 1;
    grid-row-start: 1;
    font-weight: bold;
}

.detectedlabel2{
    grid-column-start: 3;
    grid-row-start: 1;
    font-weight: bold;

}

.connectedProbes{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 6;
}

.probe1btn{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    

}

.probe2btn{
    grid-column-start: 2;
    grid-row-start: 3;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.probe3btn{
    grid-column-start: 2;
    grid-row-start: 4;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.probe4btn{
    grid-column-start: 2;
    grid-row-start: 5;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

.probe1lbl{
    grid-column-start: 3;
    grid-row-start: 2;
    place-self: center;
}

.probe2lbl{
    grid-column-start: 3;
    grid-row-start: 3;
    place-self: center;
}

.probe3lbl{
    grid-column-start: 3;
    grid-row-start: 4;
    place-self: center;
}

.probe4lbl{
    grid-column-start: 3;
    grid-row-start: 5;
    place-self: center;
}

.righticon{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-left: .5rem;
}

.delicon{
    height: 18px;
    width: 18px;
    vertical-align: middle;
   
    
}

.del1btn{
    grid-column-start: 4;
    grid-row-start: 2;
}

.del2btn{
    grid-column-start: 4;
    grid-row-start: 3;
}

.del3btn{
    grid-column-start: 4;
    grid-row-start: 4;
}

.del4btn{
    grid-column-start: 4;
    grid-row-start: 5;
}

.delbtn{
    margin: 1em;
    border: none;
    background-color: white;
}

.delbtn:hover{
   opacity: 70%;
}

.delbtn:active{
    opacity: 100%;
 }