.addusermodal {
    max-width: 10rem;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
    width: auto;
  }
  
  .addusercontainer {
    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }
  
  .userNameLabel {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .userName {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .newPasswordLabel {
    grid-column-start: 1;
    grid-row-start: 4;
    margin-left: 10px;
    margin-right: 10px;
  }
  .newPassword {
    grid-column-start: 1;
    grid-row-start: 5;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .newPasswordConfirmLabel {
    grid-column-start: 1;
    grid-row-start: 6;
    margin-left: 10px;
    margin-right: 10px;
  }
  .newPasswordConfirm {
    grid-column-start: 1;
    grid-row-start: 7;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .adduserbtncontainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-top: 20px;
  }
  
  .adduserbtncancel {
    color: black;
    border-radius: 5px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: 2.5em;
    width: 6em;
    margin-right: 2px;
  }
  .adduserbtncancel:hover {
    background-color: lightgrey;
  }
  .adduserbtncancel:active {
    background-color: grey;
  }
  
  
  .adduserbtnsubmit {
    background-color: orange;
    color: black;
    border-radius: 5px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: 2.5em;
    width: 6em;
    margin-left: 2px;
  }
  
  .adduserbtnsubmit:hover {
    background-color: goldenrod;
  }
  
  .adduserbtnsubmit:active {
    background-color: grey;
  }
  
  